.swiftpm/xcode/xcuserdata
iOSExtensions/iOSExtensions.xcodeproj/xcuserdata
iOSExtensions.xcodeproj/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
iOSExtensions.xcodeproj/project.xcworkspace/xcuserdata
